numpy>=1.20, < 1.24  # np.int doesn't exist starting with numpy 1.24
scipy>=1.8
matplotlib>=3.4.2
plotly>=5.6.0
kaleido
jsmin
Cython==3.0.0a10
appdirs>=1.4.0
decorator>=3.2.0
setuptools>=58.0.4
spikesorters==0.4.5
spikeextractors==0.9.9
spiketoolkit==0.7.7
